@use 'variables.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-block-size: 100vh;
  font-family: $font-main;
  color: $color-text;
  background-color: $color-bg;
}

a,
button {
  cursor: pointer;
}

a {
  color: $color-accent;
  text-decoration: none;

  &:hover { text-decoration: underline; }
}

button {
  font: inherit;
}
