@use 'variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-bg;
  color: $color-text;
  font-family: $font-main;
  min-height: 100vh;
}

a {
  color: $color-accent;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
