.create-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-game__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-game__field {
    display: flex;
    flex-direction: column;
}

.create-game__field label {
    font-weight: bold;
}

.create-game__error {
    margin-block-start: 1rem;
    color: red;
}
