.footerWrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding-inline: 2vw;
  align-items: center;
  background-color: var(--nav-color);
}

.footerLinksContainer {
  display: flex;
  gap: 2vw;
}

.footerLinks {
  text-decoration: none;
  color: var(--font-color);
  font-size: 1rem;
}
.footerLinks:hover {
  text-decoration: underline;
}
.footerNameOfPlatform {
  font-weight: 500;
  color: var(--font-color);
}
