@use '../../styles/variables.scss' as *;

.confirm-modal {
  position: fixed;
  inset: 0;
  z-index: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);

  &__card {
    max-inline-size: 400px;
    padding: $space-m;
    border: 1px solid $color-border;
    border-radius: $radius;
    background-color: $color-inner;
  }

  &__actions {
    display: flex;
    justify-content: space-around;
    gap: $space-m;
  }
}
