@use '../../styles/variables' as *;

.login, .forgotPassword, .reset {
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  &__card {
    background-color: $color-bg-card;
    border: 1px solid $color-border;
    border-radius: $radius;
    padding: 2rem;
    width: 100%;
    max-width: 420px;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__subtitle {
    color: $color-text-muted;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 12px;

    label {
      color: $color-text-muted;
    }

    input {
      background-color: $color-bg-secondary;
      border: 1px solid $color-border;
      border-radius: $radius;
      color: $color-text;
      font-size: 1rem;
      padding: 1vh 1vw;

      &:focus {
        outline: none;
        border-color: $color-accent;
      }
    }
  }

  &__forgot {
    background: none;
    border: none;
    color: $color-text-muted;
    font-size: 0.85rem;
    cursor: pointer;
    text-align: right;
    padding: 0;

    &:hover {
      color: $color-accent;
    }
  }

  &__submit {
    background-color: $color-accent;
    border: none;
    border-radius: $radius;
    color: #1a1200;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.75rem;
    cursor: pointer;
    margin-top: 0.5rem;

    &:hover {
      background-color: $color-accent-hover;
    }
  }

  &__error {
    color: $color-danger;
  }
  &__success{
    color: $color-success
  }

  &__register {
    text-align: center;
    margin-block-start: 1.25rem;
    color: $color-text-muted;
    font-size: 0.9rem;
  }
}
