.home {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.home section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.home ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
}

.home li {
    list-style: none;
    outline: 1px solid black;
    border-radius: 8px;
    padding: 1rem;
    flex: 1 1 200px;
}

.home li:hover {
    outline: 3px solid black;
}

.home a {
    text-decoration: none;
    color: black;
}

.home__card__title {
    font-weight: bold;
}

.home__cta {
    display: inline-block;
    padding: 0.5rem;
    outline: 1px solid black;
    border-radius: 8px;
    font-weight: bold;
    align-self: flex-start;
}
.home__cta:hover {
    outline: 2px solid black;
}
