.privacy-policy {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.privacy-policy__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.privacy-policy__section ul {
    list-style-position: inside;
}