.terms-conditions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.terms-conditions__section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.terms-conditions__section ul {
    list-style-position: inside;
}