.formWrapper {
  min-height: 300px;
  min-width: 400px;
  max-width: 400px;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  border: 1px solid var(--border-color);
  text-align: center;
  color: var(--font-color);
}
.formContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
.formErrorMsg {
  color: red;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
.loginLabel {
  font-size: 1.2rem;
  font-weight: 500;
}
.loginInput {
  padding: 1vh 2vw;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  width: 100%;
}
.loginBtn {
  margin-block-start: 10px;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
  padding: 0.5em 1.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: var(--button-color);
  color: var(--font-color);
  border-radius: 4px;
}
.loginBtn:hover {
  background: var(--button-hover-color);
  cursor: pointer;
}
.noAccount {
  margin-block-start: 10px;
}
.registerLink {
  text-decoration: none;
  color: var(--font-color);
  font-weight: 600;
}
.registerLink:hover {
  text-decoration: underline;
}
.loginConfirmation{
  font-weight: 600;
}


.forgotPassword{
  text-decoration: none;
  color: var(--font-color);
  font-weight: 500;
}
.forgotPassword:hover{
  text-decoration: underline;
}