.createGameForm {
  min-height: 300px;
  min-width: 400px;
  max-width: 400px;
  border-radius: 20px;
  display: flex;
  padding: 20px;
  border: 1px solid var(--border-color);
  text-align: center;
  color: var(--font-color);
}
.createGameContainer {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.createGameContainer > select {
  text-align: center;
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
  padding: 0.5em 1.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: var(--button-color);
  color: var(--font-color);
  border-radius: 4px;
}
.createGameCheckbox {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.createGameButton {
  font-weight: 600;
  text-decoration: none;
  font-size: 17px;
  padding: 0.5em 1.5em;
  border: transparent;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  background: var(--button-color);
  color: var(--font-color);
  border-radius: 4px;
}
.createGameButton:hover,
.createGameContainer > select:hover {
  background: var(--button-hover-color);
  cursor: pointer;
}
.createGameConfirmation {
  font-weight: 600;
}
.createGameErrorMsg {
  color: red;
  font-size: 1rem;
  text-align: center;
  font-weight: 500;
}
