@use '../../styles/variables.scss' as *;

.terms {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 700px;

  &__updated {
    color: var(--color-text-dim);
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    p {
      line-height: 1.7;
      color: var(--color-text-dim);
    }
  }
}
