.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background-color: beige;
    border-top: 1px solid black;
}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    padding-top: 1rem;
}

.footer a {
    padding: 1rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.footer a:hover {
    text-decoration: underline;
}

.footer a:global(.active) {
    text-decoration: underline;
}